<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>import</title>
  </head>
  <body>
    <div id="app"></div>
    <button id="btn">Dynamic import</button>
    <button id="btn2">Dynamic import2</button>
    <script src="./loader.js"></script>
    <!-- <script type="module">
      import d, {a, b, c} from './module.js';
      import toUpperCase from 'https://flavio-es-modules-example.glitch.me/uppercase.js';
      console.log(a, toUpperCase(c));
      console.log(d);
    </script> -->
  </body>
</html>